.border-none{
border: none;
}

.border-radius-10{
border-radius: var(--radius-10);
}

.border-radius-8{
border-radius: var(--radius-8);
}

.border-radius-6{
border-radius: var(--radius-6);
}

.border-radius-4{
border-radius: var(--radius-4);
}



